body {
  background-image: url("https://images.unsplash.com/photo-1518963534257-f901d4d46f59?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1351&q=80");
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  background-color: #dae8ff;
}

#submit-btn {
  background-color: #5a3ec0;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 5px 10px;
}

#imgPreview {
  width: 600px;
  max-height: 600px;
  display: block;
  margin: 0 auto;
}
